# Flutter/Dart related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.generated/
build/
pubspec.lock

# Android related
.gradle/
local.properties
*.iml
*.apk
*.aab
*.keystore

# iOS related
Pods/
.flutter-plugins
.flutter-plugins-dependencies
Runner.xcworkspace/
DerivedData/
*.xcuserstate
*.xcuserdatad
*.ipa

# Web related (if Flutter web)
lib/generated_plugin_registrant.dart

# Vercel deployment files
.vercel/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Firebase cache
.firebase/

# Dependency directories
node_modules/
bower_components/

# Environment files
.env
.env.*
.env.local

# Coverage
coverage/
.nyc_output/

# IDE files
.vscode/
.idea/

# Misc
.DS_Store
*.pid
*.seed
*.pid.lock
*.tgz
.lock-wscript
.yarn-integrity
.eslintcache
